@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 antialiased;
    margin: 0;
  }
  #root {
    min-height: 100vh;
  }
  * {
    box-sizing: border-box;
  }
  input[type='date']::-webkit-calendar-picker-indicator {
    filter: invert(0.8);
  }
}
